/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Righteous', cursive;
}

h1 {
    padding-bottom: 20px;
}

main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(136, 127, 116);;
    padding: 30px;
    background-color: antiquewhite;
    border-radius: 0.375rem;
}

form > input {
    margin-bottom: 20px;
    padding: 10px;
}

button {
    margin-top: 20px;
    background: rgb(136, 127, 116);
    color: white;
    border: none;
    padding: 20px;
}


